{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/style7.css' %}" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  {% for message in messages %} 
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  
  {% endfor %}
  <div class="row">
    
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
  <div class="container" >
    
  <form method="POST">
    {% csrf_token %}
      <h1> Login Admin</h1>
      
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="Username" name="Username" ria-describedby="username">
  
      </div>
      <div class="mb-3">
        <label for="pass1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="pass1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-success" type="submit">login</button>
      </div>
      <a href="{% url 'userregistration' %}" class="btn-btn-success">register here</a>
    </form>
  </div>
</div>
</div>  
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- <script>
    {% for message in messages %}
  swal("   {{message}}");
  
  {% endfor %}
</script> -->
 
</body>
</html>





















