{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
      {% if  forms %}
      <table class="table table-striped">
        <thead style="text-align:center;">
          <tr>
            <th scope="col">#</th>
            <th scope="col"> Owner name</th>
            <th scope="col">Address</th>
           
            <th scope="col">Area</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Maps</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for fm in forms  %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td colspan="">{{fm.sname}}</td>
            <td colspan="">{{fm.address}}</td>
            <td colspan="">{{fm.area}}</td>
            <td colspan="">{{fm.phone}}</td>
            <td colspan=""><a href="https://www.google.co.in/maps/place/114%2FA,+Karve+Rd,+Hingne+Budrukh,+Karve+Nagar,+Pune,+Maharashtra+411053/@18.4907045,73.81283,17z/data=!3m1!4b1!4m6!3m5!1s0x3bc2bfdcd8975849:0x915bc5b74c54f6f!8m2!3d18.4906994!4d73.8154049!16s%2Fg%2F11jp4r_sd4?entry=ttu" class="btn btn-primary" type="submit">View Location</a>  </td>            
             
             <td colspan=""><a href="{% url 'book_slots' %}" class="btn btn-primary" type="submit">Book Slots</a>  </td>            
             
          </tr>
          {% endfor %}</tbody></table>{% endif %}
    </div></div>
    <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>