{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center; color: aliceblue; background-color:black">BOOK SLOTS </h1>
    <div class="container">
      {% if  forms %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"> Name </th>
            <th scope="col">Vehicle Number</th>
            <th scope="col">Mobile No</th>
            <th scope="col">City</th>
            <th scope="col">Area</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody>
            {% for fm in forms  %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td colspan="">{{fm.oname}}</td>
            <td colspan="">{{fm.vehicleno}}</td>
            <td colspan="">{{fm.mobileno}}</td>
            
            <td colspan="">{{fm.city}}</td>
            <td colspan="">{{fm.area}}</td>
            <td colspan="">{{fm.time}}</td>
             
            
             
          </tr>
          {% endfor %}</tbody></table>{% endif %}
    </div></div>
    <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>