body{
    background: url('/static/images/rg.jpg') no-repeat top fixed; width:100%; height:100vh;
    background-size: cover;
    position: relative;

}
h1{
    color: blue;
    
}
.container{
    width: 30%;
    /* height: 90%; */

    margin-top: 5vh;
    border:0px solid #fff; padding:40px 40px;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75) ;
}
*{
    color:darkmagenta;
    font-size:small;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}